.login__error {
  position: absolute;
  left: 2px;
  top: 40px;
  color: red;
  font-size: 13px;
}

.password__error {
  position: absolute;
  left: 2px;
  bottom: 40px;
  color: red;
  font-size: 13px;
}
